@model NoSQLProject.Models.AddTicketRequestViewModel

@{
    ViewData["Title"] = "Add Request";
}

<partial name="_ErrorMessage" />

<h1>New Request</h1>

<form action="/TicketRequests/Add" method="post">
	<input type="hidden" asp-for="TicketId" value="@Model.TicketId" />

	<div class="form-group mb-3">
		<label for="Email">Email</label>
		<input type="text" asp-for="Email" placeholder="Request recipient email" required value="@Model?.Email" />
	</div>

	<div class="form-group mb-3">
		<label for="Message">Message</label>
		<input type="text" asp-for="Message" placeholder="Message for recipient" value="@Model?.Message" />
	</div>

	<button type="submit">Send Ticket Request</button>
</form>

<a href="/TicketsServiceDesk/Edit/@Model.TicketId">Return to Ticket</a>
<a href="/TicketRequests/Sent">Go to Sent Requests</a>