@model NoSQLProject.Models.TicketRequest

@{
	ViewData["Title"] = "Edit Request";
}

<link rel="stylesheet" href="~/css/common-styles.css" />

<partial name="_ErrorMessage" />

<h1>Request View</h1>

<div>
	<partial name="~/Views/TicketRequests/_MainViewPart.cshtml" model="@Model" />

	<div>
		<label>Status:</label>
		<input type="text" value="@Model.Status.ToString()" readonly />
	</div>

	@{
		if(Model.Status == TicketRequestStatus.Open)
		{
			<a href="/TicketRequests/Delete/@Model.Id">Delete</a>
		}
	}	
</div>

<a href="/TicketRequests/All">Go Back</a>