@model NoSQLProject.Models.TicketRequest

@{
	ViewData["Title"] = "View Ticket Requests";
}

<partial name="_ErrorMessage" />

<h1>Ticket Request View</h1>

<div>
	<partial name="~/Views/TicketRequests/_MainViewPart.cshtml" model="@Model" />

	<div>
		<label>Status:</label>
		<input type="text" value="@Model.Status.ToString()" readonly />
	</div>
</div>

<a href="/TicketRequests/All">Go Back</a>