<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoSQLProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NoSQLProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="custom-navbar">
            <div class="navbar-container">
                <a class="logo-link" asp-area="" asp-controller="Home" asp-action="Index">NoSQLProject</a>
                <div class="navbar-links" id="navbarLinks">
                    <ul class="navbar-menu">
                        <li>
                            <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                        @{
                            var emp = NoSQLProject.Other.Authorization.GetLoggedInEmployee(this.Context);

                            if ((string?)ViewData["Title"] == "Privacy") // Change links in the navbar depending on the page name 
                            {
                                if(emp != null) // Check if user is logged in
                                {
                                    <li class="navbar-log-container">
                                        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="navbar-log-container">
                                        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                    </li>
                                }
                            }
                            else if ((string?)ViewData["Title"] != "Login")
                            {
                                <li class="navbar-log-container">
                                    <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>
                            }

                            if(emp != null)
                            {
                                if (emp is ServiceDeskEmployee) // Change navbar links depending on employee type
                                {
                                    <li class="navbar-log-container">
                                        <a class="navbar-link" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                                    </li>
                                    <li class="navbar-log-container">
                                        <a class="navbar-link" asp-area="" asp-controller="TicketsServiceDesk" asp-action="Index">Tickets</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="navbar-log-container">
                                        <a class="navbar-link" asp-area="" asp-controller="TicketsEmployee" asp-action="Index">Tickets</a>
                                    </li>
                                }
                            }                      
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NoSQLProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
