@model NoSQLProject.Models.TicketRequest

@{
    ViewData["Title"] = "Add Ticket Request";
}

<partial name="_ErrorMessage"/>

<form>

</form>

<a href="/TicketsServiceDesk/Edit/@Model.TicketId">Back to Ticket</a>
